# Xcode
#
# General
.DS_Store
.idea/
.vscode/
*~
*.swp

# User-specific
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
xcuserdata/

# Build generated
build/
DerivedData/
*~.nib/

# Other
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.resolved
*.xcodeproj

# Carthage
Carthage/Build
Carthage/Checkouts

# Pods
Pods/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Credentials - DO NOT COMMIT
Protocol/Creds/GoogleService-Info.plist